body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(17, 17, 40);
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider{
    color: rgb(132, 127, 127);
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
}
.slide{
    overflow: hidden;
    height: 50px;
}

.slide div div{
    display: inline-block;
    color: white;
    background: red;
    padding: 4px 12px;
    border-radius: 2px;
    margin-bottom: 45px;
}
.slide div:nth-child(1){
    animation: animate 6s linear infinite;
}
.slide div:nth-child(1) div{
    background-color: aqua;
    color: black;
}
.slide div:nth-child(2) div{
    background-color: rgb(17, 133, 17);
}

@keyframes animate {
    0%{margin-top: -270px;}
    5%{margin-top: -180px;}
    33%{margin-top: -180px;}
    38%{margin-top: -90px;}
    66%{margin-top: -90px;}
    71%{margin-top: 0px;}
    99.99%{margin-top: 0px;}
    100%{margin-top: -270px;}
}